* {
    margin: 0;
    padding: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

.category-links {
    margin: 0 10px !important;
}

.products {
    display: flex;
    flex-wrap: wrap;

    div {
        max-width: 300px;
        margin: 15px;
    }

    .MuiCardMedia-root {
        height: 150px;
        background-size: contain;
    }
}

.avatar {

    img {
        object-fit: contain;

    }
}